{% extends "layout.twig" %}

{% block content %}
    <h1>Congrats! Your Web App Skeleton is Already Alive!</h1>

    <p>It's now time to build your SaaS, Website or Web App on top of it! 😉</p>
{% endblock %}
